<div class="form-component-container" id="heatmap-form-container">
  <form [formGroup]="mapaDeCalorForm" (ngSubmit)="onSubmit()">
      <div class="form-field-container">
        <!-- <label for="indicator">Indicator</label> -->
        <select formControlName="indicator" id="indicator">
          <option value="">Indicador</option>
          <option value="Indicator1">Indicador 1</option>
          <option value="Indicator2">Indicador 2</option>
        </select>
      </div>
      <div class="form-field-container">
        <!-- <label for="timePeriod">Time Period</label> -->
        <select formControlName="timePeriod" (change)="onTimePeriodChange($event)">
          <option value="">Período de tempo</option>
          <option value="Anual">Anual</option>
          <option value="Mensal">Mensal</option>
          <option value="Horária">Horária</option>
        </select>
      </div>
      <div class="form-field-container" id="startYear-lastYear-container" *ngIf="timePeriodType === 'Anual'">
        <!-- <label for="startYear">Start Year</label> -->
        <input type="number" placeholder="Primeiro Ano" formControlName="startYear" id="startYear" />
        
        <!-- <label for="endYear">End Year</label> -->
        <input type="number" placeholder="Último Ano" formControlName="endYear" id="endYear" />
      </div>
      <div class="form-field-container" *ngIf="timePeriodType === 'Mensal'">
        <!-- <label for="year">Year</label> -->
        <input type="number" placeholder="Ano" formControlName="year" id="year" /> 
      </div>
      <div class="form-field-container" id="specific-date-form" *ngIf="timePeriodType === 'Horária'" formGroupName="specificDate">
        <!-- <label>Specific Date</label> -->
        <input type="number" formControlName="day" placeholder="Dia" />
        <input type="number" formControlName="month" placeholder="Mês" />
        <input type="number" formControlName="year" placeholder="Ano" />
      </div>   
      <button type="submit">Confirmar</button>
    </form>
</div>
  