.form-component-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-field-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
select{
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
    font-size: 15px;

}
input {
    text-align: center;
    width: 100%;
    height: 20px;
    border-radius: 30px;
    cursor: text;
}

#startYear-lastYear-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#startYear-lastYear-container input{
    width: 30%;
    min-width: 120px;
    text-align: center;
}
#specific-date-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#specific-date-form input {
    width: 10%;
    min-width: 80px;
    text-align: center;
}

#param-list{
    gap: 5px;
}

.form-field-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 85%;
}

.form-field-list-container label {
    font-size: 15px;
}
.form-field-list-container input {
    width: 47.3%;
    height: 15px;
}
.form-field-list-container select {
    width: 50%;
    height: 22px;
    border-width: 1.6px;
}

.error-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.error-popup p {
    margin: 0 0 10px;
}

.error-popup button {
    background-color: #721c24;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
}

.error-popup button:hover {
    background-color: #5a171c;
}