<div class="container" id="home-container">
    <div class="container" id="form-container">
        <form [formGroup]="formChoice">
            <select formControlName="formKind" id="form-kind" (change)="onChoiceChange($event)">
                <option>Mapa de Calor</option>
                <option>Gráfico</option>
            </select>
        </form>
        <app-heatmap-form *ngIf="chosenForm === 'Mapa de Calor'" (formSubmit)="handleHeatmapFormSubmit($event)"></app-heatmap-form>
        <app-graph-form *ngIf="chosenForm === 'Gráfico'" (formSubmit)="handleGraphFormSubmit($event)"></app-graph-form>
    </div>
    <div class="container" id="image-container">
        <app-heatmap *ngIf="chosenForm === 'Mapa de Calor'" [heatmaps]="heatmaps" [indicator]="indicator"></app-heatmap>
        <app-graph *ngIf="chosenForm === 'Gráfico'"></app-graph>
    </div>
</div>