#map { height: 100%; }
/* Use ::ng-deep to ensure styles apply to dynamically created elements in Leaflet */
::ng-deep .info.legend {
  background: white;
  padding: 6px 8px;
  font: 14px Arial, sans-serif;
  border-radius: 5px;
  line-height: 18px;
  color: #555;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
  
::ng-deep .info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  background-color: #fff; /* Default to white, overridden by inline styles */
}

.slider-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.slider-container label {
  margin-right: 10px;
}

.slider-container input {
  margin-right: 10px;
}

  