<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     
<div id="map"></div>
<div *ngIf="timeInterval !== '' && timeInterval !== 'instant'" class="slider-container">
     <label *ngIf="timeInterval=== 'hourly'" for="heatmapSlider">Hora: {{currentHeatmapIndex}}h</label>
     <label *ngIf="timeInterval === 'daily'" for="heatmapSlider">Dia: {{currentHeatmapIndex}}</label>
     <label *ngIf="timeInterval === 'monthly'" for="heatmapSlider">Mês: {{month_names[currentHeatmapIndex-1]}}</label>
     <label *ngIf="timeInterval === 'yearly'" for="heatmapSlider">Ano: {{currentHeatmapIndex}}</label>

     <input
          id="heatmapSlider"
          type="range"
          [min]="minHeatmapIndex"
          [max]="maxHeatmapIndex"
          [(ngModel)]="currentHeatmapIndex"
          (input)="onHeatmapIndexChange($event)"
     />
</div>